<div style="height: 100vh;" class="d-flex justify-content-center align-items-center  ">
    <form class="d-flex justify-content-center align-items-center flex-column w-50 shadow p-4"> 
        <h2 class="text-center">Login..!</h2>
    
    
        <input class="form-control mt-3 w-50" type="email" placeholder="Email">
        <input class="form-control mt-3 w-50" type="password" placeholder="Password">
        <button type="submit" class="btn btn-primary mt-3">Login</button>
        <span>Don't have an acount ? <a routerLink="register">Register</a></span>
    
    
    </form>
    
    
    </div>