
<div style="height: 100vh;" class="d-flex justify-content-center align-items-center  ">
<form class="d-flex justify-content-center align-items-center flex-column w-50 shadow p-4"> 
    <h2 class="text-center">Register..!</h2>


    <input class="form-control mt-3 w-50" type="text" placeholder="Username">
    <input class="form-control mt-3 w-50" type="email" placeholder="Email">
    <input class="form-control mt-3 w-50" type="password" placeholder="Password">
    <button (click)="register()" type="submit" class="btn btn-primary mt-3">Register</button>
    <span>Already have an account?<a routerLink="">Login</a></span>


</form>


</div>